.user-interface {
  padding: 20px 0;

  &__block {
    width: 500px;
    height: 200px;
    background: white;

    justify-content: space-between;
    display: flex;
    padding: 20px 10px;
  }

  &__avatar {
    width: 90px;
    border-radius: 25px;
  }

  &__fullname,
  &__login {
    font-size: 20px;

    span {
      font-size: 18px;
      color: blue;
    }
  }

  &__followers {

  }
}